.about
    width: 70%
    margin-top: 20px
    margin-left: auto
    margin-right: auto
    position: relative

.ind_about
    position: relative
    max-width: 100%

.about_images
    width: 100%
    

.img_textContainer
    position: absolute
    top: 8px
    left: 16px
    

.img_text
    color: rgb(255, 255, 255)
    white-space: normal
    margin-bottom: 2px