.education
    width: 70%
    margin-top: 20px
    margin-left: auto
    margin-right: auto
    position: relative

.ind_edu
    border-bottom: 0.1px solid lightgrey

.ubc_logo
    height: 10%
    width: 10%
    margin: auto